.carousel {
    overflow: hidden;
}

.inner{
    white-space: nowrap;
    transition: transfrom 0.3;
    position: relative;
    z-index: 1;
    //transition-duration: 1s; 
    //transition-timing-function: ease-in; 
    //transition-delay: .4s ;
    transition: 1s ease-in .4s 
    
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width:100%; 
    @media (max-width: 450px){
        height: 300px;
    }
    @media (max-width: 850px){
        height: 400px;
    }
}

.indicators {
    width:90%;
    display: flex;  
    flex-direction: row;   
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 400px;
    margin-left:4%;
    margin-right:4%;
    @media (max-width: 900px){
        top: 300px;
    }
    @media (max-width: 450px){
        top: 210px;
    }
    
    button {
        background-color: transparent;
        border: none; 
        size: 50px;
        cursor: pointer;
        margin:0px;
        .icon{
            height:100px;
            @media (max-width: 850px){
                height:70px;
            }
            @media (max-width: 450px){
                height:55px;
            }
        }

    }

    .btnIconBack{
        margin-left: 0px;
    }

}
