$coral: #FF6060;

@mixin titreh3{
    font-size: 16px;
    font-weight: 400;
}

@mixin button{
    background-color: $coral;
    color:white;
    border: none;
}


h1, h2, h3, p{
    color: $coral;
}

.img-backgroundLogements {
    width: 93%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin-left: 4%;
    }

.logement{
    margin:4%;
}

.logement__titreEtAgent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .titreLocalisation{
        display: flex;
        flex-direction: column;
            h2{
                margin-bottom: 0px;
                margin-top: 0px;
                font-weight: 600;
                }
                h3{
                    @include titreh3;
                    margin-bottom: 0px;
                    margin-top: 5px;
                    }
    }

    .agent{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
        img{
            margin-left:5px;
            border-radius: 50%;
            object-fit: cover;
            height: 60px;
            width: 60px;
            }
            h3{
                @include titreh3;
                width: 80px;
                margin-top: 0px;
                }
    }
}

.logement__btnIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    .btn{
        display:flex;
        flex-direction: row; 
        gap:10px;
        margin-bottom: 25px;;
            button{
            @include button;
            border-radius: 8px;
            width: 80px;
            height: 20px;
            }     
    }
    .iconStar{
        color: $coral;
            .star{
                margin-left: 8px;
            }
                
            }
}

.descriptionEquipements{
    display:flex;
    flex-direction: row;
    gap:5%;
    .btnScroll{
        display: flex;
        flex-direction: column;
    }
        button{
            @include button;
            width: 100%;
            height: 35px;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            }
}
.button{
    justify-content: space-between;
            }
   

