.homeLayout__img {
    margin:4%;
    width: 92%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    filter: brightness(70%);
    @media (max-width: 544px) {

        
    }
}


.homeLayout h1{
    position: absolute;
    z-index: 2;
    color: white; 
    left: 33%;
    top: 200px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 544px) {
        left: 20%;
        inline-size: 65%;
    }
}

.homeLayout__logements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;

    @media (max-width: 544px) {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        background-color: transparent;
    }
}

