.homeLayout__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
    @media (max-width: 544px) {
        height: 150px;
    }
}

.homeLayout{
    width: 92%;
    margin: auto;
    }

.img_titre{
    width: 100%;
    margin: 20px 0;
    position: relative;
    h1{
        position: absolute;
        z-index: 2;
        color: white; 
        width: 100%;
        left: 0;
        font-size: 50px;
        font-weight: 500;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        @media (max-width: 1440px) {
            font-size: 45px;
        }
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        @media (max-width: 900px) {
            font-size: 28px;
        }
        @media (max-width: 544px) {
            font-size: 22px;
        }
        @media (max-width: 544px) {
            span {
                display: block;
            }
            font-size: 27px;
            width: 100%;
            text-align: start;
            margin-left: 3%;
            top: 52%;
        }
        @media (max-width: 490px) {
        @media (max-width: 329px) {
            font-size: 23px;
            width: 100%;
        }
        }
    }
}



.homeLayout__logements {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: 1100px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
    }
    @media (max-width: 680px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
  
    @media (max-width: 490px) {
        background-color: transparent;
        padding-left: 0px;
        padding-right: 0px;
    }
}


