
.logements {
    position: relative;
    justify-items: start;
        @media (max-width: 544px) {
            margin: 2%;
        }
}

.logements p {
    position: absolute;
    z-index: 3;
    font-size: 18px;
    top: 78%;
    left: 15px;
    width: 70%;
    color: white;

    @media (max-width: 1350px) {
        top: 210px;
        font-size: 16px;
    }

    @media (max-width: 1050px) {
        top: 175px;
        left: 10px;
        width: 90%;
    }

    @media (max-width: 850px) {
        top: 130px;
        left: 10px;
        font-size: 14px;
    }
    @media (max-width: 680px) {
        top: 150px;
        left: 10px;
        font-size: 14px;
    }

    @media (max-width: 544px) {
        top: 80%;
    }

}

.img-gradient{
    position: absolute;
    z-index: 2;
    width: 350px;
    height: 120px;
    top: 230px;
    object-fit: cover;
    border-radius: 10px;
    background: linear-gradient(to top,rgb(43, 43, 43), transparent);
    border-radius: 10px;
        
    }

.logements img {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: 1350px) {
        width: 280px;
        height: 280px;
    }
    @media (max-width: 1050px) {
        width: 230px;
        height: 230px;
    }
    @media (max-width: 850px) {
        width: 180px;
        height: 180px;
    }
    @media (max-width: 680px) {
        width: 200px;
        height: 200px;
    }
    @media (max-width: 400px) {
        width: 350px;
        height: 350px;
        
    }
   
}