$coral: #FF6060;

.buttonIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        button{
            background-color: $coral;
            color: white;
            border: none;
            border-radius: 10px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px;
            transition:box-shadow 0.2s ease-out;
        }
        .arrow_up{
            height: 22px;
            color: white;
            align-self:flex-end;
        } 
        .fade {
            opacity: 1;
            background-color:#f5dcdc;
            overflow:hidden;
            transition: transform 0.4s ease-in-out;
            height:auto;
        }

        .fade.out{
            opacity: 0;
        
        }
 
}
