$coral: #FF6060;

.buttonIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        button{
            background-color: $coral;
            color: white;
            border: none;
            border-radius: 10px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px;
            transition:box-shadow 0.2s ease-out;
        }
        .arrow-up{
            transition: 1s transform;
            height: 22px;
            color: white;
            align-self:flex-end;
        } 
        .arrow-up.open{
            transform: rotate(-180deg)
        } 
        .content{
            transition: 1s height;
            height:0;
            overflow-y: auto;
        }
        .content.open{
            height:100px;
            display: block;
        }
        .content.close{
            height:0;
        }
}
