$coral: #FF6060;

.buttonIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
        button{
            background-color: $coral;
            color: white;
            border: none;
            border-radius: 10px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px;
        }
        .arrow_up{
            height: 22px;
            color: white;
            align-self:flex-end;
        } 
        .content-parent {
            height: 0px;
            overflow: hidden;
            transition: height ease 0.9s;
        .content{
            overflow: hidden;
            transition: height 200ms;
        }}  
}
