// variables
$coral: #FF6060;

.nav-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 40px;
    margin :4%
    }


.nav-container li {
    list-style: none;
    display: inline;
    margin-left: 35px;
    color: $coral;
    text-decoration: none;
}

a {
    color: $coral;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        text-decoration: underline;
    }
}