// variables
$coral: #FF6060;

img {
    border-radius: 0px;
    height: 55px;
    @media (min-width: 545px) and (max-width: 1000px){
        height: 45px;
        margin-top: 10px;
    }
    @media (max-width: 544px){
        height: 30px;
        margin-top: 10px;
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 40px;
    margin :4%
    }


.nav-container li {
    list-style: none;
    display: inline;
    margin-left: 35px;
    color: $coral;
    text-decoration: none;
    @media (max-width: 380px){
        margin-left: 15px;
        margin-top: auto;
    }
    
}

a {
    color: $coral;
    text-decoration: none;
    font-size: 19px;
    @media (max-width: 544px){
        font-size: 16px;
    }
    @media (max-width: 380px){
        font-size: 14px;
    }
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        text-decoration: underline;
    }
}