// variables
$coral: #FF6060;

.nav-container__logo {
    border-radius: 0px;
    height: 55px;

    @media (min-width: 545px) and (max-width: 1000px) {
        height: 45px;
        margin-top: 10px;
    }

    @media (max-width: 544px) {
        height: 30px;
        margin-top: 10px;
    }

    @media (max-width: 285px) {
        height: 20px;
        margin-top: 18px;
    }
}

.nav-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 40px;
    margin: 4%;

    @media (max-width: 285px) {
        margin-bottom: 0px;
    }
}


.nav-container li {
    list-style: none;
    display: inline;
    margin-left: 35px;
    color: $coral;
    text-decoration: none;

    @media (max-width: 380px) {
        margin-left: 15px;
        margin-top: auto;
    }

    @media (max-width: 285px) {
        margin-left: 10px;
        margin-top: auto;
    }

}

a {
    color: $coral;
    text-decoration: none;
    font-size: 19px;

    @media (max-width: 544px) {
        font-size: 16px;
    }

    @media (max-width: 380px) {
        font-size: 14px;
    }

    @media (max-width: 285px) {
        font-size: 12px;
    }

    &:hover {
        text-decoration: underline;
    }
    &.activeLink {
    text-decoration: underline;
}
}

